{% extends "base.html" %}
{% block content %}
<div class="container">
    <form action="/eventos/search" method="POST">
        <div class="row justify-content-md-center">
            <div class="input-group col-md-8">
                <input class="form-control" type="text" name="pattern" placeholder="Buscar"/>
                <button class="btn btn-info btn" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<br/>
<div class="container">
    {% if eventos and eventos.count() > 0 %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Web</th>
            <th scope="col">Lugar</th>
            <th scope="col">Precio</th>
            <th scope="col">Acción</th>
        </tr>
        </thead>
        <tbody>
        {% for evento in eventos %}
        <tr>
            <th scope="row">{{ evento.nombre }}</th>
            <td>{{ evento.fecha.strftime("%d/%m/%Y") }}</td>
            <td>{{ evento.hora.strftime("%H:%M") }}</td>
            <td>{{ evento.pagweb }}</td>
            <td><a href="/lugares/show?id={{ evento.lugar_id }}">{{ evento.nombre_lugar }}</a></td>
            <td>{{ evento.precio }}</td>
            <td>
                <a class="btn btn-info" href="/eventos/show?id={{ evento.key.urlsafe() }}" role="button"><i
                        class="fas fa-eye"></i></a>
                <a class="btn btn-success" href="/eventos/edit?id={{ evento.key.urlsafe() }}" role="button"><i
                        class="far fa-edit"></i></a>
                <a class="btn btn-danger" href="/eventos/delete?id={{ evento.key.urlsafe() }}" role="button"
                   onclick="return confirm('¿Seguro que quieres borrar este lugar?');"><i
                        class="far fa-trash-alt"></i></a>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="row col-md-8">
        <h2>Por ahora no hay eventos</h2>
    </div>
    {% endif %}
</div>
{% endblock %}