{% extends "base.html" %}
{% block content %}
<form id="addlugar" method="POST" action="/lugares/add" enctype="multipart/form-data">
    <div class="form-group">
        <div class="form-group">
            <label for="nombreInput">Nombre</label>
            <input type="text" class="form-control" id="nombreInput" name="nombre" required
                   placeholder="Nombre del lugar"
                   onchange="comprobarAlfabetico(this,20)">

        </div>
    </div>
    <div class="form-group">
        <label for="descripcionInput">Descripcion del lugar </label>
        <textarea class="form-control" id="descripcionInput" name="descripcion" rows="3"
                  onchange="comprobarTexto(this,500)"></textarea>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="telefonoInput">Telefono</label>
            <input type="text" class="form-control" id="telefonoInput" name="num_telefono" required
                   placeholder="Numero de telefono" onchange="comprobarTelf(this)">
        </div>
        <div class="form-group col-md-6">
            <label for="emailInput">Email</label>
            <input type="email" class="form-control" id="emailInput" name="email" required
                   placeholder="emaildellugar@opcional.info" onchange="comprobarEmail(this,40)">
        </div>
    </div>


    <div class="row">
        <div class="form-group col-md-8">
            <label for="direccionInput">Dirección del lugar</label>
            <input type="text" class="form-control" id="direccionInput" name="lugar" required
                   placeholder="Dirección del lugar, Provincia" onchange="comprobarTexto(this,60)">
        </div>

        <div class="form-group col-md-4">
            <label for="categoriaSelect">Categoría</label>
            <select class="form-control" id="categoriaSelect" name="categoria" required>
                <option selected="true" disabled>Selecciona una categoría</option>
                <option value="Edificios Religiosos">Edificios Religiosos</option>
                <option value="Museos">Museos</option>
                <option value="Monumentos">Monumentos</option>
                <option value="Lugares Históricos">Lugares Históricos</option>
                <option value="Otros">Otros</option>
            </select>
        </div>
    </div>

    <br/>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Subir</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="InputFile" name="foto" onchange="comprobarArchivo(this)">
            <label class="custom-file-label" for="InputFile">Sube una fotografía del lugar</label>
        </div>
    </div>

    <div style="text-align:right; margin-top: 30px">
        <button type="submit" class="btn btn-primary btn-lg" onclick="return chk()">Añadir</button>
        <button class="btn btn-secondary btn-lg" onclick="window.history.back();">Volver</button>
    </div>
</form>

<script>

    function comprobarEmail(campo, size) {
        var pat = /^(\w+)@(\w+)(\.(\w+)){1,2}$/i;       //Patrón que vale para email de tipo x@x.x y x@x.x.x

        if ((campo.value.length > size)) {              //Comprueba si el contenido del campo es mayor que size
            alert("Email muy grande. Por favor introduzca otro que tenga menos de" + size + " caracteres");
            campo.style.borderColor = "red";
            return false;

        }
        if (!(campo.value.match(pat))) {                    //Comprueba si el valor del campo coincide con el patrón
            alert("El email introducido no tiene el formato correcto");
            campo.style.borderColor = "red";
            return false;

        }
        campo.style.borderColor = "green";
        return true;
    }


    function comprobarArchivo(campo) {
        var val = campo.value;                                              //Valor del campo sobre el que se aplica la función
        var archpermitidos = new Array("jpg", "png", "jpeg");        //Un array con las extensiones permitidas por la aplicación
        var extension = val.split('.').pop().toLowerCase();                 //Variable en la que se almacena la extensión del archivo

        for (var i = 0; i <= archpermitidos.length; i++) {                  //Recorre las extensiones permitidas y las compara con la extensión
            if (archpermitidos[i] == extension) {
                campo.style.borderColor = "green";
                return true;
            }
        }
        alert("Tipo de archivo no permitido");
        campo.style.borderColor = "red";
        return false;
    }


    function comprobarTelf(campo) {
        var pat = /^[0-9]{0,2}[0-9]{9}$/;
        if (!(campo.value.match(pat))) {
            alert("El telefono es incorrecto");
            campo.style.borderColor = "red";
            return false;

        }
        campo.style.borderColor = "green";
        return true;

    }

    function comprobarAlfabetico(campo, size) {
        var pat = /^[a-zñáéíóúü]+((\s[a-zñáéíóúü]+)*)$/i;    //Patrón para palabras alfabéticas en Español
        var nul = /^([Nn][Uu][Ll][Ll])$/i;                                  //Patrón para null

        if (campo.value.length > size) {                                        //Comprueba si el contenido del campo es mayor que size
            alert("El valor introducido es mayor que el máximo permitido: " + size);
            campo.style.borderColor = "red";
            return false;
        }

        if (!(campo.value.match(pat))) {                                        //Si no coincide con el patrón pat, return false
            alert("El campo tiene valores no permitidos");
            campo.style.borderColor = "red";
            return false;
        }

        if ((campo.value.trim()).match(nul)) {                              //trim elimina espacios y comprueba si el campo tiene el valor null.
            alert("NULL no es un nombre válido");                      //match devuelve null si no encuentra el patrón
            campo.style.borderColor = "red";
            return false;
        }
        campo.style.borderColor = "green";
        return true;
    }

    function comprobarTexto(campo, size) {
        if (campo.value) {
            if (campo.value.length > size) {
                alert('Longitud incorrecta. El atributo ' + campo.name + ' debe ser maximo ' + size + ' y es ' + campo.value.length);
                campo.style.borderColor = "red";
                return false;
            }
        }
        campo.style.borderColor = "green";
        return true;
    }

    function chk() {
        const nombreInput = document.getElementById("nombreInput");
        const descripcionInput = document.getElementById("descripcionInput");
        const telefonoInput = document.getElementById("telefonoInput");
        const emailInput = document.getElementById("emailInput");
        const direccionInput = document.getElementById("direccionInput");
        const InputFile = document.getElementById("InputFile");

        if (!comprobarAlfabetico(nombreInput, 20)) {
            return false;
        }

        if (!comprobarTexto(descripcionInput, 500)) {
            return false;
        }

        if (!comprobarTelf(telefonoInput)) {
            return false;
        }

        if (!comprobarEmail(emailInput, 40)) {
            return false;
        }

        if (!comprobarTexto(direccionInput, 60)) {
            return false;
        }

        if (!comprobarArchivo(InputFile)) {
            return false;
        }

        return true;
    }

</script>

{% endblock %}