{% extends "base.html" %}
{% block content %}
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4" style="text-align: center;">{{ nombre }}
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" style="height: 320px; width: 100%;"
                 src="data:image/png;base64,{{foto.encode('base64')}}" alt="">
        </div>

        <div class="col-md-4">
            <div class="bg-white" style="width:100%;border:1px solid silver;padding: 10px;">
                <h3 class="my-3" style="text-align: center;">Información</h3>
                <ul style="list-style-type: none;">
                    <br/>
                    <li><i class="fas fa-map-marker"></i>{{ lugar }}</li>
                    <br/>
                    <li><i class="fas fa-tags"></i> {{ categoria }}</li>
                    <br/>
                    <li><i class="fas fa-phone"></i></i>{{ num_telefono }}</li>
                    <br/>
                    <li><i class="fas fa-globe"></i></i> {{ pagweb }}</li>
                    <br/>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        <br/>
        <!-- Related Projects Row -->
        <div class="container bg-white" style="margin-top: 20px;border:1px solid silver;">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-12">
                    <br/>
                    <p>{{ descripcion }}</p>

                </div>

            </div>
        </div>
    </div>
</div>

{% if usuario == "none" %}
<br/>
<div class="container" style="text-align: center"><a class="btn btn-success btn-lg btn-block" role="button"
                                                     href="{{ log }}">Registrate
    para comentar</a></div>
</div>

{% else %}
<div class="container" style="border-top: 4px solid blue;margin-top: 20px; border-bottom: 4px solid blue;">
    <div class="form-group row">
        <label class="col-12 col-sm-5 col-md-4 col-form-label" for='comentario'>Descripción</label>
        <textarea name="comentario" class="form-control col-12" id="comentario"
                  placeholder="Escribe aquí tu comentario" rows="5" cols="50"
                  onchange="validateText(this,255)"></textarea>
        <input type="hidden" name="id" value="{{ id }}">

    </div>
</div>

{% endif %}

<br/>

<!-- /.container -->
{% endblock %}