{% extends "base.html" %}
{% block content %}
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4" style="text-align: center; border-bottom: 4px solid rgba(138,149,133,0.59); font-family: H">{{ nombre }}
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" style="height:auto; max-height: 320px; width: 100%; border-radius: 15px;"
                 src="data:image/png;base64,{{foto.encode('base64')}}" alt="">
        </div>

        <div class="col-md-4">
            <div class="bg-white" style="width:100%;border:1px solid silver; border-radius: 10px;">
                <h3 class="my-3" style="text-align: center; ">Información</h3>
                <ul style="list-style-type: none;">
                    <br/>
                    <li><i class="fas fa-map-marker" style="margin-right: 15px;"></i>{{ lugar }}</li>
                    <br/>
                    <li><i class="fas fa-tags" style="margin-right: 15px;"></i>{{ categoria }}</li>
                    <br/>
                    <li><i class="fas fa-phone" style="margin-right: 15px;"></i></i>{{ num_telefono }}</li>
                    <br/>
                    <li><i class="fas fa-globe" style="margin-right: 15px;"></i></i>{{ pagweb }}</li>
                    <br/>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        <br/>
        <!-- Related Projects Row -->
        <div class="container bg-white" style="margin-top: 20px;border:1px solid silver;">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-12">
                    <p style="margin-top:10px; margin-bottom:10px; text-align: justify;">{{ descripcion }}</p>
                </div>

            </div>
        </div>
    </div>
</div>

{% if usuario == "none" %}
<br/>
<div class="container" style="text-align: center"><a class="btn btn-success btn-lg btn-block" role="button"
                                                     href="{{ log }}">Registrate
    para comentar</a></div>
</div>

{% else %}
<div class="container" style="border-top: 4px solid blue;margin-top: 20px; border-bottom: 4px solid blue;">
    <div class="form-group row">
        <form class="col-md-12" id="addcomentariolugar" method="POST" action="/lugares/show"
              enctype="multipart/form-data">
            <br/>
            <div class="row">
        <textarea name="comentario" class="form-control col-md-10" id="comentario"
                  placeholder="Escribe aquí tu comentario" rows="5" cols="50"
                  onchange="validateText(this,255)"></textarea>
                <input type="hidden" name="id" value="{{ id }}">
                <input type="hidden" name="usuario" value="{{ usuario }}">
                <button type="submit" class="btn btn-primary btn-lg col-md-2">Publicar</button>
            </div>
        </form>
    </div>
</div>

{% endif %}

<br/>
{% if comentarios and comentarios.count > 0 %}
{% for comentario in comentarios %}
<div class="card mb-3">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{ comentario.comentario }}</p>
            <footer class="blockquote-footer">{{ comentario.autor }} el día {{ comentario.fecha.strftime("%d/%m/%Y")
                }}
            </footer>
        </blockquote>
    </div>
</div>
{% endfor %}
{% endif %}
<!-- /.container -->
{% endblock %}