{% extends "base.html" %}
{% block content %}
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4" style="text-align: center;">{{ nombre }}
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="data:image/png;base64,{{foto.encode('base64')}}" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3" style="text-align: center;">Información</h3>
            <ul style="list-style-type: none;">
                <li><i class="fas fa-map-marker"></i>{{ lugar }}</li>
                <br/>
                <li><i class="fas fa-tags"></i> {{ categoria }}</li>
                <br/>
                <li><i class="fas fa-phone"></i></i>{{ num_telefono }}</li>
                <br/>
                <li><i class="fas fa-globe"></i></i> {{ pagweb }}</li>

            </ul>

        </div>
        <!-- /.row -->
        <br/>
        <!-- Related Projects Row -->
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <article>
                    <p>{{ descripcion }}</p>
                </article>
            </div>
        </div>
        <div class="col-md-1"></div>
        <!-- /.row -->

    </div>
</div>
<!-- /.container -->
{% endblock %}