{% extends "base.html" %}
{% block content %}
<form id="addlugar" method="POST" action="/lugares/add" enctype="multipart/form-data">
    <div class="form-group">
        <div class="form-group">
            <label for="nombreInput">Nombre</label>
            <input type="text" class="form-control" id="nombreInputInput" name="nombre" required
                   placeholder="Nombre del lugar"
                   onload="comprobarAlfabetico(this,20)">
        </div>
    </div>
    <div class="form-group">
        <label for="descripcionInput">Descripcion del lugar </label>
        <textarea class="form-control" id="descriptionInput" name="descripcion" rows="3"
                  onload="comprobarTexto(this,1000)"></textarea>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="telefonoInput">Telefono</label>
            <input type="text" class="form-control" id="telefonoInput" name="num_telefono" required
                   placeholder="Numero de telefono" onload="comprobarTelf(this)">
        </div>
        <div class="form-group col-md-6">
            <label for="emailInput">Email</label>
            <input type="email" class="form-control" id="emailInput" name="email" required
                   placeholder="emaildellugar@opcional.info" onload="comprobarEmail(this,40)">
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label for="lugarInput">Dirección del lugar</label>
            <input type="text" class="form-control" id="direccionInput" name="lugar" required
                   placeholder="Dirección del lugar, Provincia" onload="comprobarTexto(this,60)">
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label for="categoriaInput">Categoría</label>
            <select class="form-control" id="categoriaSelect" name="categoria" required>
                <option selected="true" disabled>Selecciona una categoría</option>
                <option value="Edificios Religiosos">Edificios Religiosos</option>
                <option value="Museos">Museos</option>
                <option value="Monumentos">Monumentos</option>
                <option value="Lugares Históricos">Lugares Históricos</option>
                <option value="Otros">Otros</option>
            </select>
        </div>

    </div>

    <br/>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Subir</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="InputFile" name="foto" onload="comprobarArchivo(this)">
            <label class="custom-file-label" for="InputFile">Sube una fotografía del lugar</label>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary btn-lg">Añadir</button>
        <button class="btn btn-secondary btn-lg" onclick="window.history.back();">Volver</button>
    </div>
</form>
<br/>
<br/>
<br/>
{% endblock %}